.mainContainer{
    display: flex;
    width: 700px;
    height: 400px;
    background-color: #e8e3e3;
    flex-direction: row;
    justify-content: center;
    gap: 30;
    align-items: center
  }
  
  .textContainer{
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
  }
  
  .Container3{
    text-align: center;
  }
  
  .Container4{
    text-align: center;
    margin-top: 100px;
  }
  
  .Container6{
    text-align: center;
  }
  
  .Container8{
    text-align: center;
  }
  
  